<!DOCTYPE html>

<html>
  <style></style>
  <script></script>
  <head>
    <title>Building Application</title>
  </head>
  <body>
    <div class="info">
      <h1 style="text-align: center">Building details</h1>
      <p>This building contains info xyz</p>
    </div>
    <div class="container">
      <h2 style="text-align: center">Project List</h2>
      <p> This building is rooftop, the date of construction is : 19/8/2021</p>
    </div>
    <div class="list">
      <mat-card-content>
        <mat-grid-list cols="3">
          <mat-grid-tile colspan="1">
            <mat-card class="card comment-list mat-elevation-z5">
              <mat-card-header>
                <mat-card-title> List of Project On Top </mat-card-title>
                <button class="evt">Add</button>
              </mat-card-header>
              <mat-card-content>
                <table style="width: 100%" id="t01">
                  <tr>
                    <th>Project</th>
                    <th>Details</th>
                    <th>Action</th>
                  </tr>
                  <tr>
                    <td>Project a</td>
                    <td>Roof</td>
                    <td>
                      <input type="Submit" value="View" />
                      <button type="button">Delete Project</button>
                    </td>
                  </tr>
                  <tr>
                    <td>Project b</td>
                    <td>hello</td>
                    <td>
                      <input type="Submit" value="View" />
                      <button type="button">Delete Project</button>
                    </td>
                  </tr>
                </table>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <mat-card class="card comment-list mat-elevation-z5">
              <mat-card-header>
                <mat-card-title> List of Project On Ground </mat-card-title>
                <button class="evt">Add</button>
              </mat-card-header>
              <mat-card-content>
                <table style="width: 100%" id="t01">
                  <tr>
                    <th>Project</th>
                    <th>Details</th>
                    <th>Action</th>
                  </tr>
                  <tr>
                    <td>Project a</td>
                    <td>Roof</td>
                    <td>
                      <input type="Submit" value="View" />
                      <button type="button">Delete Project</button>
                    </td>
                  </tr>
                  <tr>
                    <td>Project b</td>
                    <td>hello</td>
                    <td>
                      <input type="Submit" value="View" />
                      <button type="button">Delete Project</button>
                    </td>
                  </tr>
                </table>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <mat-card class="card comment-list mat-elevation-z5">
              <mat-card-header>
                <mat-card-title> List of Project Internal </mat-card-title>
                <button class="evt">Add</button>
              </mat-card-header>
              <mat-card-content>
                <table style="width: 100%" id="t01">
                  <tr>
                    <th>Project</th>
                    <th>Details</th>
                    <th>Action</th>
                  </tr>
                  <tr>
                    <td>Project a</td>
                    <td>Roof</td>
                    <td>
                      <input type="Submit" value="View" />
                      <button type="button">Delete Project</button>
                    </td>
                  </tr>
                  <tr>
                    <td>Project b</td>
                    <td>hello</td>
                    <td>
                      <input type="Submit" value="View" />
                      <button type="button">Delete Project</button>
                    </td>
                  </tr>
                </table>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </div>
    <button class="backkk">Back</button>
  </body>
</html>
