<!DOCTYPE html>

<html>
  <head>
   <title>Building Application</title>
  </head>

  <body>
    <h2>Building Website</h2>
    <div>
      <form method="GET" action="buildingDirectory.html">
        <label for="UserName">User Name:</label>
        <input type="text" id="userName" value=""><br>
        <label for="Password">Password:</label>
        <input type="text" id="password" value=""><br>
        <br>
        <input type="Submit" value = "Login">
        <input type="reset" value="reset">
      </form> 
    </div>
  </body>
</html>



