<!DOCTYPE html>

<html>
  <style></style>
  <script></script>
  <head>
    <title>Building Application</title>
  </head>
  <body>
    <div class="info">
      <h1 style="text-align: center">Building details</h1>
      <p>This building is rooftop, the date of construction is : 19/8/2021</p>
    </div>
    <div class="container">
      <h2 style="text-align: center">Project List</h2>
      <p>The project list is divided into three stage . They are ...</p>
    </div>
    <div class="list">
      <mat-card-content>
        <mat-grid-list cols="4">
          <mat-grid-tile colspan="1">
            <mat-card class="card comment-list mat-elevation-z5">
              <mat-card-header>
                <mat-card-title> List of Closed Project </mat-card-title>
                <button class="evt">Add</button>
              </mat-card-header>
              <mat-card-content>
                <table style="width: 100%" id="t01">
                  <tr>
                    <th>Project</th>
                    <th>Details</th>
                    <th>Action</th>
                  </tr>
                  <tr *ngFor="let project of projectClose">
                    <td>{{ project.name }}</td>
                    <td>{{ buildingId }}</td>
                    <td>
                      <button type="button">
                        <a routerLink="../../project/{{ project.id }}">
                          View
                        </a>
                      </button>
                      <button type="button" (click)="delete(project.id)" }>
                        Delete Project
                      </button>
                    </td>
                  </tr>
                </table>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <mat-card class="card comment-list mat-elevation-z5">
              <mat-card-header>
                <mat-card-title> List of Current Project </mat-card-title>
                <button class="evt">Add</button>
              </mat-card-header>
              <mat-card-content>
                <table style="width: 100%" id="t01">
                  <tr>
                    <th>Project</th>
                    <th>Details</th>
                    <th>Action</th>
                  </tr>
                  <tr *ngFor="let project of projectCurrent">
                    <td>{{ project.name }}</td>
                    <td>Roof</td>
                    <td>
                      <button type="button">
                        <a routerLink="../../project/{{ project.id }}">
                          View
                        </a>
                      </button>

                      <button type="button" (click)="delete(project.id)">
                        Delete Project
                      </button>
                    </td>
                  </tr>
                </table>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <mat-card class="card comment-list mat-elevation-z5">
              <mat-card-header>
                <mat-card-title> List of Scheduled Project </mat-card-title>
                <button class="evt" (click)="add()">Add</button>
              </mat-card-header>
              <mat-card-content>
                <table style="width: 100%" id="t01">
                  <tr>
                    <th>Project</th>
                    <th>Details</th>
                    <th>Action</th>
                  </tr>
                  <tr *ngFor="let project of projectSchedule">
                    <td>{{ project.name }}</td>
                    <td>Roof</td>
                    <td>
                      <button type="button">
                        <a routerLink="../../project/{{ project.id }}">
                          View
                        </a>
                      </button>
                      <button type="button" (click)="delete(project.id)">
                        Delete Project
                      </button>
                    </td>
                  </tr>
                </table>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <mat-card class="card comment-list mat-elevation-z5">
              <mat-card-header>
                <mat-card-title> List of Unschedule Project </mat-card-title>
                <button class="evt">Add</button>
              </mat-card-header>
              <mat-card-content>
                <table style="width: 100%" id="t01">
                  <tr>
                    <th>Project</th>
                    <th>Details</th>
                    <th>Action</th>
                  </tr>
                  <tr *ngFor="let project of projectUnschedule">
                    <td>{{ project.name }}</td>
                    <td>{{ buildingId }}</td>
                    <td>
                      <button type="button">
                        <a routerLink="../../project/{{ project.id }}">
                          View
                        </a>
                      </button>
                      <button type="button">Delete Project</button>
                    </td>
                  </tr>
                </table>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </div>
    <button class="backkk">Back</button>
  </body>
</html>
