<div class="grid-container">
  <div>
    <h1 class="mat-h1">Building Directory</h1>
    <mat-form-field>
      <mat-label>Search by property name</mat-label>
      <input matInput [(ngModel)]="searchText">
    </mat-form-field>
  </div>
  
  <mat-grid-list cols="4" rowHeight="460">
    <mat-grid-tile *ngFor="let card of cards | cardFilter: searchText" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card" [tabindex]="card.data.id">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="card.data.img" alt="picture of the building" onerror="this.src='https://loremflickr.com/408/240'">
        <mat-card-content class="dashboard-card-content">
          <table>
            <tr>
              <th>Owner</th>
              <td>{{card.data.owner}}</td>
            </tr>
            <tr>
              <th>Address</th>
              <td>{{card.data.address}}</td>
            </tr>
          </table>
        </mat-card-content>
        <mat-card-actions>
          <a routerLink="../building/{{card.data.id}}">
            <button mat-mini-fab aria-label="view button">
              <mat-icon>navigate_next</mat-icon>
            </button>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
